@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@300&display=swap');
 
 *{ margin: 5px;
    padding: 5px;
    margin-left: 50px;
    box-sizing: border-box;
    font-family: 'Heebo', sans-serif;
   }


body {background: rgb(231, 231, 231);}

 

.main-titleararat {font-size:35px;
   color: #000; justify-content: center;
}
.ararat{margin-left: 125px;}

a{ text-decoration: none;}